<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <script>
    var vals = [$('.field input')[0].value, $('.field input')[1].value];
    function clearVal (dom) {
      vals = [$('.field input')[0].value, $('.field input')[1].value];
      dom.value = '';
    }
    
    function restoreVal(num) {
      if ($('.field input')[num].value == '') {
        $('.field input')[num].value = vals[num];
      }
    }
  </script>
  <div class="field">
    <%= f.label :keyword %><br>
    <%= f.text_field :keyword, :onclick => "clearVal($('.field input')[0])", :onblur => "restoreVal(0)" %>
  </div> <br>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language, :onclick => "clearVal($('.field input')[1])", :onblur => "restoreVal(1)" %>
  </div> <br>
  <div class="field">
    <%= f.label :order %>: 
    <%= f.select :order, options_for_select([['updated', 'updated'], ['created', 'created'], ['comments', 'comments']]) %>
  </div> <br>
  <div class="actions">
    <%= f.submit "Find Issues" %>
  </div>
<% end %>
